EdugameCloud.ACEvents.Web/Web References/QuizServiceNamespace/QuizService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuizService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dev.edugamecloud.com/services/QuizService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dev.edugamecloud.com/services/QuizService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" />
      <xsd:import schemaLocation="http://dev.edugamecloud.com/services/QuizService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dev.edugamecloud.com/services/QuizService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EdugameCloud.Core.Domain.DTO" />
      <xsd:import schemaLocation="http://dev.edugamecloud.com/services/QuizService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuizService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetAll_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q1:Error" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetById_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q2:Error" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetBySMIId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBySMIId" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetBySMIId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBySMIIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetBySMIId_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q3:Error" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaged" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPagedResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetPaged_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q4:Error" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetQuizCategoriesbyUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuizCategoriesbyUserId" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetQuizCategoriesbyUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuizCategoriesbyUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetQuizCategoriesbyUserId_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q5:Error" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetQuizDataByQuizId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuizDataByQuizId" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetQuizDataByQuizId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuizDataByQuizIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetQuizDataByQuizId_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q6:Error" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetLmsQuizzes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLmsQuizzes" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetLmsQuizzes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLmsQuizzesResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetLmsQuizzes_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q7:Error" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetQuizSMItemsByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuizSMItemsByUserId" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetQuizSMItemsByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuizSMItemsByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetQuizSMItemsByUserId_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q8:Error" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetQuizzesByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuizzesByUserId" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetQuizzesByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuizzesByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetQuizzesByUserId_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q9:Error" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetSharedQuizzesByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSharedQuizzesByUserId" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetSharedQuizzesByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSharedQuizzesByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_GetSharedQuizzesByUserId_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q10:Error" />
  </wsdl:message>
  <wsdl:message name="IQuizService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IQuizService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IQuizService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IQuizService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuizService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/GetAll" message="tns:IQuizService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/GetAllResponse" message="tns:IQuizService_GetAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IQuizService/GetAllErrorFault" name="ErrorFault" message="tns:IQuizService_GetAll_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/GetById" message="tns:IQuizService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/GetByIdResponse" message="tns:IQuizService_GetById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IQuizService/GetByIdErrorFault" name="ErrorFault" message="tns:IQuizService_GetById_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBySMIId">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/GetBySMIId" message="tns:IQuizService_GetBySMIId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/GetBySMIIdResponse" message="tns:IQuizService_GetBySMIId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IQuizService/GetBySMIIdErrorFault" name="ErrorFault" message="tns:IQuizService_GetBySMIId_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/GetPaged" message="tns:IQuizService_GetPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/GetPagedResponse" message="tns:IQuizService_GetPaged_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IQuizService/GetPagedErrorFault" name="ErrorFault" message="tns:IQuizService_GetPaged_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuizCategoriesbyUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/GetQuizCategoriesbyUserId" message="tns:IQuizService_GetQuizCategoriesbyUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/GetQuizCategoriesbyUserIdResponse" message="tns:IQuizService_GetQuizCategoriesbyUserId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IQuizService/GetQuizCategoriesbyUserIdErrorFault" name="ErrorFault" message="tns:IQuizService_GetQuizCategoriesbyUserId_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuizDataByQuizId">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/GetQuizDataByQuizId" message="tns:IQuizService_GetQuizDataByQuizId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/GetQuizDataByQuizIdResponse" message="tns:IQuizService_GetQuizDataByQuizId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IQuizService/GetQuizDataByQuizIdErrorFault" name="ErrorFault" message="tns:IQuizService_GetQuizDataByQuizId_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLmsQuizzes">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/GetLmsQuizzes" message="tns:IQuizService_GetLmsQuizzes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/GetLmsQuizzesResponse" message="tns:IQuizService_GetLmsQuizzes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IQuizService/GetLmsQuizzesErrorFault" name="ErrorFault" message="tns:IQuizService_GetLmsQuizzes_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuizSMItemsByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/GetQuizSMItemsByUserId" message="tns:IQuizService_GetQuizSMItemsByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/GetQuizSMItemsByUserIdResponse" message="tns:IQuizService_GetQuizSMItemsByUserId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IQuizService/GetQuizSMItemsByUserIdErrorFault" name="ErrorFault" message="tns:IQuizService_GetQuizSMItemsByUserId_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuizzesByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/GetQuizzesByUserId" message="tns:IQuizService_GetQuizzesByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/GetQuizzesByUserIdResponse" message="tns:IQuizService_GetQuizzesByUserId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IQuizService/GetQuizzesByUserIdErrorFault" name="ErrorFault" message="tns:IQuizService_GetQuizzesByUserId_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSharedQuizzesByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/GetSharedQuizzesByUserId" message="tns:IQuizService_GetSharedQuizzesByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/GetSharedQuizzesByUserIdResponse" message="tns:IQuizService_GetSharedQuizzesByUserId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IQuizService/GetSharedQuizzesByUserIdErrorFault" name="ErrorFault" message="tns:IQuizService_GetSharedQuizzesByUserId_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/Save" message="tns:IQuizService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/SaveResponse" message="tns:IQuizService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuizService/Create" message="tns:IQuizService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuizService/CreateResponse" message="tns:IQuizService_Create_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQuizService" type="tns:IQuizService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IQuizService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IQuizService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBySMIId">
      <soap:operation soapAction="http://tempuri.org/IQuizService/GetBySMIId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPaged">
      <soap:operation soapAction="http://tempuri.org/IQuizService/GetPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQuizCategoriesbyUserId">
      <soap:operation soapAction="http://tempuri.org/IQuizService/GetQuizCategoriesbyUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQuizDataByQuizId">
      <soap:operation soapAction="http://tempuri.org/IQuizService/GetQuizDataByQuizId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLmsQuizzes">
      <soap:operation soapAction="http://tempuri.org/IQuizService/GetLmsQuizzes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQuizSMItemsByUserId">
      <soap:operation soapAction="http://tempuri.org/IQuizService/GetQuizSMItemsByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQuizzesByUserId">
      <soap:operation soapAction="http://tempuri.org/IQuizService/GetQuizzesByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSharedQuizzesByUserId">
      <soap:operation soapAction="http://tempuri.org/IQuizService/GetSharedQuizzesByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IQuizService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IQuizService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_IQuizService" type="tns:IQuizService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/IQuizService/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap12:operation soapAction="http://tempuri.org/IQuizService/GetById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBySMIId">
      <soap12:operation soapAction="http://tempuri.org/IQuizService/GetBySMIId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPaged">
      <soap12:operation soapAction="http://tempuri.org/IQuizService/GetPaged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQuizCategoriesbyUserId">
      <soap12:operation soapAction="http://tempuri.org/IQuizService/GetQuizCategoriesbyUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQuizDataByQuizId">
      <soap12:operation soapAction="http://tempuri.org/IQuizService/GetQuizDataByQuizId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLmsQuizzes">
      <soap12:operation soapAction="http://tempuri.org/IQuizService/GetLmsQuizzes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQuizSMItemsByUserId">
      <soap12:operation soapAction="http://tempuri.org/IQuizService/GetQuizSMItemsByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQuizzesByUserId">
      <soap12:operation soapAction="http://tempuri.org/IQuizService/GetQuizzesByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSharedQuizzesByUserId">
      <soap12:operation soapAction="http://tempuri.org/IQuizService/GetSharedQuizzesByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://tempuri.org/IQuizService/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/IQuizService/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuizService">
    <wsdl:port name="BasicHttpBinding_IQuizService" binding="tns:BasicHttpBinding_IQuizService">
      <soap:address location="http://dev.edugamecloud.com/services/QuizService.svc" />
    </wsdl:port>
    <wsdl:port name="CustomBinding_IQuizService" binding="tns:CustomBinding_IQuizService">
      <soap12:address location="http://dev.edugamecloud.com/services/QuizService.svc/amf" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>