EdugameCloud.ACEvents.Web/Web References/QuizServiceNamespace/QuizService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/EdugameCloud.Core.Domain.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EdugameCloud.Core.Domain.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dev.edugamecloud.com/services/QuizService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfQuizDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuizDTO" nillable="true" type="tns:QuizDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuizDTO" nillable="true" type="tns:ArrayOfQuizDTO" />
  <xs:complexType name="QuizDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isPostQuiz" type="xs:boolean" />
      <xs:element minOccurs="0" name="lmsQuizId" type="xs:int" />
      <xs:element minOccurs="0" name="passingScore" type="xs:int" />
      <xs:element minOccurs="0" name="quizFormatId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="quizId" type="xs:int" />
      <xs:element minOccurs="0" name="quizName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subModuleItemId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuizDTO" nillable="true" type="tns:QuizDTO" />
  <xs:complexType name="PagedQuizDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="objects" nillable="true" type="tns:ArrayOfQuizDTO" />
      <xs:element minOccurs="0" name="totalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedQuizDTO" nillable="true" type="tns:PagedQuizDTO" />
  <xs:complexType name="ArrayOfSMICategoriesFromStoredProcedureDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMICategoriesFromStoredProcedureDTO" nillable="true" type="tns:SMICategoriesFromStoredProcedureDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMICategoriesFromStoredProcedureDTO" nillable="true" type="tns:ArrayOfSMICategoriesFromStoredProcedureDTO" />
  <xs:complexType name="SMICategoriesFromStoredProcedureDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateModified" type="xs:double" />
      <xs:element minOccurs="0" name="isActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="modifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="subModuleCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="subModuleId" type="xs:int" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMICategoriesFromStoredProcedureDTO" nillable="true" type="tns:SMICategoriesFromStoredProcedureDTO" />
  <xs:complexType name="QuizDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="distractors" nillable="true" type="tns:ArrayOfDistractorFromStoredProcedureDTO" />
      <xs:element minOccurs="0" name="questions" nillable="true" type="tns:ArrayOfQuestionFromStoredProcedureDTO" />
      <xs:element minOccurs="0" name="quizVO" nillable="true" type="tns:QuizDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuizDataDTO" nillable="true" type="tns:QuizDataDTO" />
  <xs:complexType name="ArrayOfDistractorFromStoredProcedureDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DistractorFromStoredProcedureDTO" nillable="true" type="tns:DistractorFromStoredProcedureDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistractorFromStoredProcedureDTO" nillable="true" type="tns:ArrayOfDistractorFromStoredProcedureDTO" />
  <xs:complexType name="DistractorFromStoredProcedureDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="distractor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="distractorId" type="xs:int" />
      <xs:element minOccurs="0" name="distractorOrder" type="xs:int" />
      <xs:element minOccurs="0" name="distractorType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="height" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="imageId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="imageVO" nillable="true" type="tns:FileDTO" />
      <xs:element minOccurs="0" name="isCorrect" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="leftImageId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="leftImageVO" nillable="true" type="tns:FileDTO" />
      <xs:element minOccurs="0" name="questionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="rightImageId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="rightImageVO" nillable="true" type="tns:FileDTO" />
      <xs:element minOccurs="0" name="rows" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="width" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="x" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="y" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DistractorFromStoredProcedureDTO" nillable="true" type="tns:DistractorFromStoredProcedureDTO" />
  <xs:complexType name="FileDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="createdBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="dateCreated" type="xs:double" />
      <xs:element minOccurs="0" name="fileId" type="ser:guid" />
      <xs:element name="fileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="height" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="width" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="x" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="y" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileDTO" nillable="true" type="tns:FileDTO" />
  <xs:complexType name="ArrayOfQuestionFromStoredProcedureDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionFromStoredProcedureDTO" nillable="true" type="tns:QuestionFromStoredProcedureDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionFromStoredProcedureDTO" nillable="true" type="tns:ArrayOfQuestionFromStoredProcedureDTO" />
  <xs:complexType name="QuestionFromStoredProcedureDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="allowOther" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="correctMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correctReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="height" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="hint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="htmlText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imageId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="imageVO" nillable="true" type="tns:FileDTO" />
      <xs:element minOccurs="0" name="incorrectMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="instruction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isAlwaysRateDropdown" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isMandatory" type="xs:boolean" />
      <xs:element minOccurs="0" name="isMultipleChoice" type="xs:boolean" />
      <xs:element minOccurs="0" name="pageNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="questionId" type="xs:int" />
      <xs:element minOccurs="0" name="questionOrder" type="xs:int" />
      <xs:element minOccurs="0" name="questionTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="randomizeAnswers" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="restrictions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rows" type="xs:int" />
      <xs:element minOccurs="0" name="scoreValue" type="xs:int" />
      <xs:element minOccurs="0" name="totalWeightBucket" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="weightBucketType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="width" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="x" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="y" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionFromStoredProcedureDTO" nillable="true" type="tns:QuestionFromStoredProcedureDTO" />
  <xs:complexType name="ArrayOfQuizFromStoredProcedureDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuizFromStoredProcedureDTO" nillable="true" type="tns:QuizFromStoredProcedureDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuizFromStoredProcedureDTO" nillable="true" type="tns:ArrayOfQuizFromStoredProcedureDTO" />
  <xs:complexType name="QuizFromStoredProcedureDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createdBy" type="xs:int" />
      <xs:element minOccurs="0" name="createdByLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createdByName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateModified" type="xs:double" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isPostQuiz" type="xs:boolean" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lmsQuizId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="passingScore" type="xs:int" />
      <xs:element minOccurs="0" name="quizId" type="xs:int" />
      <xs:element minOccurs="0" name="quizName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subModuleCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="subModuleItemId" type="xs:int" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuizFromStoredProcedureDTO" nillable="true" type="tns:QuizFromStoredProcedureDTO" />
  <xs:complexType name="ArrayOfSubModuleItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubModuleItemDTO" nillable="true" type="tns:SubModuleItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubModuleItemDTO" nillable="true" type="tns:ArrayOfSubModuleItemDTO" />
  <xs:complexType name="SubModuleItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="createdBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="dateCreated" type="xs:double" />
      <xs:element minOccurs="0" name="dateModified" type="xs:double" />
      <xs:element minOccurs="0" name="isActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isShared" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="modifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="subModuleCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="subModuleId" type="xs:int" />
      <xs:element minOccurs="0" name="subModuleItemId" type="xs:int" />
      <xs:element minOccurs="0" name="themeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="themeVO" nillable="true" type="tns:SubModuleItemThemeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubModuleItemDTO" nillable="true" type="tns:SubModuleItemDTO" />
  <xs:complexType name="SubModuleItemThemeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="bgColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bgImageId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="correctColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hintColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="incorrectColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="instructionColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="questionColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="selectionColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subModuleItemId" type="xs:int" />
      <xs:element minOccurs="0" name="titleColor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubModuleItemThemeDTO" nillable="true" type="tns:SubModuleItemThemeDTO" />
  <xs:complexType name="QuizSMIWrapperDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="QuizDTO" nillable="true" type="tns:QuizDTO" />
      <xs:element minOccurs="0" name="SmiDTO" nillable="true" type="tns:SubModuleItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuizSMIWrapperDTO" nillable="true" type="tns:QuizSMIWrapperDTO" />
</xs:schema>