EdugameCloud.ACEvents.Web/Web References/FileServiceNamespace/FileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/EdugameCloud.Core.Domain.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EdugameCloud.Core.Domain.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dev.edugamecloud.com/services/FileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="FileDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="createdBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="dateCreated" type="xs:double" />
      <xs:element minOccurs="0" name="fileId" type="ser:guid" />
      <xs:element name="fileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="height" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="width" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="x" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="y" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileDTO" nillable="true" type="tns:FileDTO" />
</xs:schema>