EdugameCloud.ACEvents.Web/Web References/FileServiceNamespace/FileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dev.edugamecloud.com/services/FileService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dev.edugamecloud.com/services/FileService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" />
      <xsd:import schemaLocation="http://dev.edugamecloud.com/services/FileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dev.edugamecloud.com/services/FileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EdugameCloud.Core.Domain.DTO" />
      <xsd:import schemaLocation="http://dev.edugamecloud.com/services/FileService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileService_FileUploadEnd_InputMessage">
    <wsdl:part name="parameters" element="tns:FileUploadEnd" />
  </wsdl:message>
  <wsdl:message name="IFileService_FileUploadEnd_OutputMessage">
    <wsdl:part name="parameters" element="tns:FileUploadEndResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_FileUploadEnd_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q1:Error" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetById_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q2:Error" />
  </wsdl:message>
  <wsdl:message name="IFileService_FileUploadFailed_InputMessage">
    <wsdl:part name="parameters" element="tns:FileUploadFailed" />
  </wsdl:message>
  <wsdl:message name="IFileService_FileUploadFailed_OutputMessage">
    <wsdl:part name="parameters" element="tns:FileUploadFailedResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_FileUploadFailed_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q3:Error" />
  </wsdl:message>
  <wsdl:message name="IFileService_InitializeFileUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:InitializeFileUpload" />
  </wsdl:message>
  <wsdl:message name="IFileService_InitializeFileUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeFileUploadResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_InitializeFileUpload_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q4:Error" />
  </wsdl:message>
  <wsdl:message name="IFileService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IFileService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_Save_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q5:Error" />
  </wsdl:message>
  <wsdl:portType name="IFileService">
    <wsdl:operation name="FileUploadEnd">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/FileUploadEnd" message="tns:IFileService_FileUploadEnd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/FileUploadEndResponse" message="tns:IFileService_FileUploadEnd_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFileService/FileUploadEndErrorFault" name="ErrorFault" message="tns:IFileService_FileUploadEnd_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/GetById" message="tns:IFileService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/GetByIdResponse" message="tns:IFileService_GetById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFileService/GetByIdErrorFault" name="ErrorFault" message="tns:IFileService_GetById_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FileUploadFailed">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/FileUploadFailed" message="tns:IFileService_FileUploadFailed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/FileUploadFailedResponse" message="tns:IFileService_FileUploadFailed_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFileService/FileUploadFailedErrorFault" name="ErrorFault" message="tns:IFileService_FileUploadFailed_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitializeFileUpload">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/InitializeFileUpload" message="tns:IFileService_InitializeFileUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/InitializeFileUploadResponse" message="tns:IFileService_InitializeFileUpload_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFileService/InitializeFileUploadErrorFault" name="ErrorFault" message="tns:IFileService_InitializeFileUpload_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/Save" message="tns:IFileService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/SaveResponse" message="tns:IFileService_Save_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFileService/SaveErrorFault" name="ErrorFault" message="tns:IFileService_Save_ErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileService" type="tns:IFileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FileUploadEnd">
      <soap:operation soapAction="http://tempuri.org/IFileService/FileUploadEnd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IFileService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FileUploadFailed">
      <soap:operation soapAction="http://tempuri.org/IFileService/FileUploadFailed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InitializeFileUpload">
      <soap:operation soapAction="http://tempuri.org/IFileService/InitializeFileUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IFileService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_IFileService" type="tns:IFileService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FileUploadEnd">
      <soap12:operation soapAction="http://tempuri.org/IFileService/FileUploadEnd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap12:operation soapAction="http://tempuri.org/IFileService/GetById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FileUploadFailed">
      <soap12:operation soapAction="http://tempuri.org/IFileService/FileUploadFailed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InitializeFileUpload">
      <soap12:operation soapAction="http://tempuri.org/IFileService/InitializeFileUpload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://tempuri.org/IFileService/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileService">
    <wsdl:port name="BasicHttpBinding_IFileService" binding="tns:BasicHttpBinding_IFileService">
      <soap:address location="http://dev.edugamecloud.com/services/FileService.svc" />
    </wsdl:port>
    <wsdl:port name="CustomBinding_IFileService" binding="tns:CustomBinding_IFileService">
      <soap12:address location="http://dev.edugamecloud.com/services/FileService.svc/amf" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>