EdugameCloud.ACEvents.Web/Web References/FileServiceNamespace/FileService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dev.edugamecloud.com/services/FileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EdugameCloud.Core.Domain.DTO" />
  <xs:element name="FileUploadEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="webOrbId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileUploadEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EdugameCloud.Core.Domain.DTO" minOccurs="0" name="FileUploadEndResult" nillable="true" type="q1:FileDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileUploadFailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="webOrbId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileUploadFailedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeFileUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EdugameCloud.Core.Domain.DTO" minOccurs="0" name="file" nillable="true" type="q2:FileDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeFileUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitializeFileUploadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EdugameCloud.Core.Domain.DTO" minOccurs="0" name="file" nillable="true" type="q3:FileDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EdugameCloud.Core.Domain.DTO" minOccurs="0" name="SaveResult" nillable="true" type="q4:FileDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>