csharp/EdugameCloud.Web/Content/xsd/snGroupDiscussion.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="messages">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="message" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:anyURI" name="photo"/>
              <xs:element type="xs:string" name="text"/>
            </xs:sequence>
            <xs:attribute type="xs:long" name="id" use="required"/>
            <xs:attribute type="xs:byte" name="likes" use="required"/>
            <xs:attribute type="xs:byte" name="dislikes" use="required"/>
            <xs:attribute type="xs:string" name="userName" use="required"/>
            <xs:attribute name="reply" type="xs:string"/>
            <xs:attribute name="userId" type="xs:int"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
