csharp/EdugameCloud.Web/Content/xsd/vcfProfile.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element type="xs:string" name="firstName" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="lastName" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="jobTitle" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="about" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="userID"/>
    <xs:attribute type="xs:string" name="color"/>
  </xs:complexType>
  <xs:element name="profile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="base" type="Person"/>
        <xs:element name="contact">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="phone"/>
              <xs:element type="xs:anyURI" name="website"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="isShared"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="location">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="country">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="countryId"/>
                      <xs:attribute type="xs:string" name="countryCode3"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="state">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="stateId"/>
                      <xs:attribute type="xs:string" name="stateCode"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="city"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:string" name="zip"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="isShared"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="social">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="facebook">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:anyURI">
                      <xs:attribute name="imgUrl" type="xs:string"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="twitter">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:anyURI">
                      <xs:attribute name="imgUrl" type="xs:string"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="linkedin">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:anyURI">
                      <xs:attribute name="imgUrl" type="xs:string"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="slideShare">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:anyURI">
                      <xs:attribute name="imgUrl" type="xs:string"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="blog">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:anyURI">
                      <xs:attribute name="imgUrl" type="xs:string"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="selectedImageSocialSource"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="links">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="link" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="linkLabel"/>
                    <xs:element type="xs:anyURI" name="url"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="isShared"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
