EdugameCloud.ACEvents.Web/Web References/EmailServiceNamespace/EmailService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/EdugameCloud.Core.Domain.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EdugameCloud.Core.Domain.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dev.edugamecloud.com/services/EmailService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfEmailHistoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailHistoryDTO" nillable="true" type="tns:EmailHistoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailHistoryDTO" nillable="true" type="tns:ArrayOfEmailHistoryDTO" />
  <xs:complexType name="EmailHistoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" type="xs:double" />
      <xs:element minOccurs="0" name="emailHistoryId" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sentBcc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sentCc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sentFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sentFromName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sentTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sentToName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailHistoryDTO" nillable="true" type="tns:EmailHistoryDTO" />
  <xs:complexType name="NewsletterSubscriptionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateSubscribed" type="xs:double" />
      <xs:element minOccurs="0" name="dateUnsubscribed" type="xs:double" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="newsletterSubscriptionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewsletterSubscriptionDTO" nillable="true" type="tns:NewsletterSubscriptionDTO" />
  <xs:complexType name="ArrayOfNewsletterSubscriptionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewsletterSubscriptionDTO" nillable="true" type="tns:NewsletterSubscriptionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewsletterSubscriptionDTO" nillable="true" type="tns:ArrayOfNewsletterSubscriptionDTO" />
  <xs:complexType name="ArrayOfUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDTO" nillable="true" type="tns:UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDTO" nillable="true" type="tns:ArrayOfUserDTO" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="companyId" type="xs:int" />
      <xs:element minOccurs="0" name="createdBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="dateCreated" type="xs:double" />
      <xs:element minOccurs="0" name="dateModified" type="xs:double" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="isUnsubscribed" type="xs:boolean" />
      <xs:element minOccurs="0" name="languageId" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="logoId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="modifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timeZoneId" type="xs:int" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
      <xs:element minOccurs="0" name="userRole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userRoleId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="OperationResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="isSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultDto" nillable="true" type="tns:OperationResultDto" />
  <xs:complexType name="EventRegistrationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eventQuizMappingId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventRegistrationDTO" nillable="true" type="tns:EventRegistrationDTO" />
</xs:schema>