EdugameCloud.ACEvents.Web/Web References/EmailServiceNamespace/EmailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmailService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dev.edugamecloud.com/services/EmailService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dev.edugamecloud.com/services/EmailService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" />
      <xsd:import schemaLocation="http://dev.edugamecloud.com/services/EmailService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dev.edugamecloud.com/services/EmailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EdugameCloud.Core.Domain.DTO" />
      <xsd:import schemaLocation="http://dev.edugamecloud.com/services/EmailService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmailService_GetHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistory" />
  </wsdl:message>
  <wsdl:message name="IEmailService_GetHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailService_GetHistory_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q1:Error" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SaveHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveHistory" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SaveHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SaveHistory_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q2:Error" />
  </wsdl:message>
  <wsdl:message name="IEmailService_GetHistoryByCompanyId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryByCompanyId" />
  </wsdl:message>
  <wsdl:message name="IEmailService_GetHistoryByCompanyId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryByCompanyIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailService_GetHistoryByCompanyId_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q3:Error" />
  </wsdl:message>
  <wsdl:message name="IEmailService_ResendEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ResendEmail" />
  </wsdl:message>
  <wsdl:message name="IEmailService_ResendEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailService_ResendEmail_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q4:Error" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SubscribeToNewsletter_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeToNewsletter" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SubscribeToNewsletter_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeToNewsletterResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SubscribeToNewsletter_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q5:Error" />
  </wsdl:message>
  <wsdl:message name="IEmailService_GetNewsletterSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsletterSubscription" />
  </wsdl:message>
  <wsdl:message name="IEmailService_GetNewsletterSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsletterSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailService_GetNewsletterSubscription_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q6:Error" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SetUserUnsubscribed_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserUnsubscribed" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SetUserUnsubscribed_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserUnsubscribedResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SetUserUnsubscribed_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q7:Error" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendEventQuizResultEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEventQuizResultEmail" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendEventQuizResultEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEventQuizResultEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendEventQuizResultEmail_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q8:Error" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendRegistrationEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendRegistrationEmail" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendRegistrationEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendRegistrationEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendRegistrationEmail_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Esynctraining.Core.Domain.Entities" name="detail" element="q9:Error" />
  </wsdl:message>
  <wsdl:portType name="IEmailService">
    <wsdl:operation name="GetHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/GetHistory" message="tns:IEmailService_GetHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/GetHistoryResponse" message="tns:IEmailService_GetHistory_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmailService/GetHistoryErrorFault" name="ErrorFault" message="tns:IEmailService_GetHistory_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/SaveHistory" message="tns:IEmailService_SaveHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/SaveHistoryResponse" message="tns:IEmailService_SaveHistory_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmailService/SaveHistoryErrorFault" name="ErrorFault" message="tns:IEmailService_SaveHistory_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryByCompanyId">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/GetHistoryByCompanyId" message="tns:IEmailService_GetHistoryByCompanyId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/GetHistoryByCompanyIdResponse" message="tns:IEmailService_GetHistoryByCompanyId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmailService/GetHistoryByCompanyIdErrorFault" name="ErrorFault" message="tns:IEmailService_GetHistoryByCompanyId_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResendEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/ResendEmail" message="tns:IEmailService_ResendEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/ResendEmailResponse" message="tns:IEmailService_ResendEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmailService/ResendEmailErrorFault" name="ErrorFault" message="tns:IEmailService_ResendEmail_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeToNewsletter">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/SubscribeToNewsletter" message="tns:IEmailService_SubscribeToNewsletter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/SubscribeToNewsletterResponse" message="tns:IEmailService_SubscribeToNewsletter_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmailService/SubscribeToNewsletterErrorFault" name="ErrorFault" message="tns:IEmailService_SubscribeToNewsletter_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsletterSubscription">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/GetNewsletterSubscription" message="tns:IEmailService_GetNewsletterSubscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/GetNewsletterSubscriptionResponse" message="tns:IEmailService_GetNewsletterSubscription_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmailService/GetNewsletterSubscriptionErrorFault" name="ErrorFault" message="tns:IEmailService_GetNewsletterSubscription_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserUnsubscribed">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/SetUserUnsubscribed" message="tns:IEmailService_SetUserUnsubscribed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/SetUserUnsubscribedResponse" message="tns:IEmailService_SetUserUnsubscribed_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmailService/SetUserUnsubscribedErrorFault" name="ErrorFault" message="tns:IEmailService_SetUserUnsubscribed_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEventQuizResultEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/SendEventQuizResultEmail" message="tns:IEmailService_SendEventQuizResultEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/SendEventQuizResultEmailResponse" message="tns:IEmailService_SendEventQuizResultEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmailService/SendEventQuizResultEmailErrorFault" name="ErrorFault" message="tns:IEmailService_SendEventQuizResultEmail_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendRegistrationEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/SendRegistrationEmail" message="tns:IEmailService_SendRegistrationEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/SendRegistrationEmailResponse" message="tns:IEmailService_SendRegistrationEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmailService/SendRegistrationEmailErrorFault" name="ErrorFault" message="tns:IEmailService_SendRegistrationEmail_ErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmailService" type="tns:IEmailService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHistory">
      <soap:operation soapAction="http://tempuri.org/IEmailService/GetHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveHistory">
      <soap:operation soapAction="http://tempuri.org/IEmailService/SaveHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryByCompanyId">
      <soap:operation soapAction="http://tempuri.org/IEmailService/GetHistoryByCompanyId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ResendEmail">
      <soap:operation soapAction="http://tempuri.org/IEmailService/ResendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SubscribeToNewsletter">
      <soap:operation soapAction="http://tempuri.org/IEmailService/SubscribeToNewsletter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNewsletterSubscription">
      <soap:operation soapAction="http://tempuri.org/IEmailService/GetNewsletterSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetUserUnsubscribed">
      <soap:operation soapAction="http://tempuri.org/IEmailService/SetUserUnsubscribed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendEventQuizResultEmail">
      <soap:operation soapAction="http://tempuri.org/IEmailService/SendEventQuizResultEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendRegistrationEmail">
      <soap:operation soapAction="http://tempuri.org/IEmailService/SendRegistrationEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_IEmailService" type="tns:IEmailService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHistory">
      <soap12:operation soapAction="http://tempuri.org/IEmailService/GetHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveHistory">
      <soap12:operation soapAction="http://tempuri.org/IEmailService/SaveHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryByCompanyId">
      <soap12:operation soapAction="http://tempuri.org/IEmailService/GetHistoryByCompanyId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ResendEmail">
      <soap12:operation soapAction="http://tempuri.org/IEmailService/ResendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SubscribeToNewsletter">
      <soap12:operation soapAction="http://tempuri.org/IEmailService/SubscribeToNewsletter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNewsletterSubscription">
      <soap12:operation soapAction="http://tempuri.org/IEmailService/GetNewsletterSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetUserUnsubscribed">
      <soap12:operation soapAction="http://tempuri.org/IEmailService/SetUserUnsubscribed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendEventQuizResultEmail">
      <soap12:operation soapAction="http://tempuri.org/IEmailService/SendEventQuizResultEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendRegistrationEmail">
      <soap12:operation soapAction="http://tempuri.org/IEmailService/SendRegistrationEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap12:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailService">
    <wsdl:port name="BasicHttpBinding_IEmailService" binding="tns:BasicHttpBinding_IEmailService">
      <soap:address location="http://dev.edugamecloud.com/services/EmailService.svc" />
    </wsdl:port>
    <wsdl:port name="CustomBinding_IEmailService" binding="tns:CustomBinding_IEmailService">
      <soap12:address location="http://dev.edugamecloud.com/services/EmailService.svc/amf" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>